<h1>Laporan Angkatan</h1>

<table>
	<thead>
		<tr>
			<th>No</th>
			<th>Angkatan</th>
			<th>Jumlah Mahasiswa</th>
		</tr>
	</thead>

	<tbody>
		<% @bunch.each_with_index { |angkatan, index|%>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= angkatan.name.upcase %></td>
				<td><%= angkatan.student.count %> Mahasiswa</td>
			</tr>
		<% } %>
			<tr>
				<td colspan="2">Total</td>
				<td>
					<%= Student.count %>
				</td>
			</tr>
	</tbody>
</table>