<h1><%= @faculty.faculty_name %><hr /></h1>

<h2>Prodi</h2>
<ul>
	<% @programs.each_with_index  do |prodi, index| %>
	<li><%= prodi.program_name %> = <%= prodi.students.count %> Mahasiswa</li>
	<% end %>
</ul>